*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slides{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* scroll-snap-type: [x | y | inline | block | both] [mandatory | proximity]; */
    scroll-snap-type: y mandatory;

}


.slide{
    width: 100%;
    height: inherit;
    background-color: #1e2345;
    color: #fff;
    scroll-snap-align: start;
    scroll-snap-align: center;
}

.slide:nth-child(even){
    background-color: #108eb4;
}

.slide-container{
    width: 80%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.carousel{
    display: flex;
    border: 2px solid #d936f0;
    width: 50%;
    height: 50vh;
    overflow-x: hidden;
}

.carousel-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
}

.carousel-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #108eb4;
    scroll-snap-align: center;
}

.carousel-slide:nth-child(even){
    background-color: #1e2345;
}


.gradient-text{
    background-image: linear-gradient(45deg, magenta, yellow);
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}